.booking {
  border-left: 1px solid #EEEEEE;
  width: 35%;
  
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.booking__content {
  margin: 32px 0 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.order__data
{
  display: flex;
  align-items: flex-end;
}
.order__data .text,
.order__data .text-small
{
  flex: 1 0 auto;
}

.text-small{
  color: #999999;
  text-align: right;
}

.order__data .dots
{
    flex: 0 1 auto;
}

.dots::before
{
    display: inline-block;
    height: 1em;
    color: #999999;
    overflow: hidden;  
    padding: 0 12px;
    text-overflow: clip;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}

.prise {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 32px 0 32px 32px;
}

.btn__booking {
  flex: 1 1 auto;
  margin-left: 32px;

  .btn {
    border-radius: 8px;
    width: 100%;
  }
}
