.wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  --webkit-overflow-scrolling: touch;
  min-width: 320px;
}

@media screen and (min-width: 1024px) {

  .wrap__row {
    display: flex;
  }
}


